<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <plugins>
        <!--通用的Mapper-->
        <plugin interceptor="com.example.community.dao.mapper.utils.MapperInterceptor">
        </plugin>
    </plugins>
    <mappers>
        <mapper class="com.example.community.dao.mapper.UserMapper" />
        <mapper class="com.example.community.dao.mapper.MomentsMapper"/>
    </mappers>
</configuration>